NODE_ENV=development
HOST=localhost
PORT=3000
DB_USER=erik
DATABASE_ATLAS=mongodb+srv://erik:<PASSWORD>@cluster0.ypqdzwm.mongodb.net/nature_tours?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://127.0.0.1:27017/nature_tours
DATABASE_PASSWORD=XXXXXXXXXX

JWT_SECRET=w1Oj481gF32XeXG4QZlsL2slz3NdruBx
JWT_EXPIRES=30d
JWT_COOKIE_EXPIRES=90

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=XXXXXXXXXX
MAIL_PASSWORD=XXXXXXXXXX
MAIL_FROM_ADDRESS=mail@naturetours.com